<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864273680010-9uckkel4sdbqm7mj4i8dk9r1312qgc61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864273680010-9uckkel4sdbqm7mj4i8dk9r1312qgc61</string>
	<key>API_KEY</key>
	<string>AIzaSyAWAtCYMpQ88g-UtlJGpqJxhdg8oWyvAGc</string>
	<key>GCM_SENDER_ID</key>
	<string>864273680010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facilityManagementSystemMobile</string>
	<key>PROJECT_ID</key>
	<string>facility-management-system-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>facility-management-system-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864273680010:ios:4b07072e897c83d8d74f73</string>
</dict>
</plist>